<%- include("../partials/header.ejs", { title: "Edit blog"}) %>

    <h1>Edit blog</h1>
    <form method="post" action="/blogs/<%= blog.blogID %>?_method=PATCH">
      <textarea name="blogContent" id="" cols="30" , rows="10">
        <%= blog.blogContent %>
      </textarea>
      <button>Save</button>
    </form>

<%- include("../partials/footer.ejs") %>