<%- include("../partials/header.ejs", { title: "All blogs"}) %>

    <div class="container">
      <div class="d-flex flex-wrap justify-content-center py-3 mb-4">
        <% if (blogs.length !== 0) { %>
        <div class="row mb-1 justify-content-center">
          <% for (let blog of blogs) { %>
          <div class="col-md-8">
            <div
              class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            >
              <div class="col p-4 d-flex flex-column position-static">
                <p class="mb-2">
                  <%= blog.blogContent.substring(0, 140) + "..." %>
                </p>
                <a
                  href="/blogs/<%= blog.blogID %>"
                  class="icon-link gap-1 icon-link-hover stretched-link"
                >
                  Continue reading
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
          <% } %>
        </div>
        <% } else { %>
        <h2 class=>No blogs to display</h2> 
        <% } %>
      </div>
    </div>

<%- include("../partials/footer.ejs") %>