<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New blog</title>
  </head>
  <body>
    <h1>Make a new blog</h1>
    <form action="/blogs" method="post">
      <label for="blog">Blog text</label>
      <br />
      <textarea id="blog" cols="30" rows="10" name="blogContent"></textarea>
      <button>Post</button>
    </form>
    <button onclick="location.href='/blogs'">Back to home page</button>
  </body>
</html>
